<a href="https://colab.research.google.com/github/rickardtorsdag/datasciencecoursera/blob/master/ex1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# First import struct module.
>>> import struct 
>>>
# Return 64 means 64-bit version, return 32 means 32-bit version.
>>> version = struct.calcsize("P")*8 
>>>
>>> print(version)

64

In [ ]:
import os, platform
print("Operating system name:")
print(os.name)

Operating system name:
posix

In [ ]:
import os, platform
print("Operating system name:")
print(os.name)
print("Platform name:")
print(platform.system())
print("Platform release:")
print(platform.release())

Operating system name:
posix
Platform name:
Linux
Platform release:
5.4.104+

In [ ]:
import os
import sys
import platform
import sysconfig
print("os.name                     ", os.name)
print("sys.platform                ", sys.platform)
print("platform.system()           ", platform.system())
print("sysconfig.get_platform()    ", sysconfig.get_platform())
print("platform.machine()          ", platform.machine())
print("platform.architecture()     ", platform.architecture())

os.name                      posix
sys.platform                 linux
platform.system()            Linux
sysconfig.get_platform()     linux-x86_64
platform.machine()           x86_64
platform.architecture()      ('64bit', '')

In [ ]:
import multiprocessing
print(multiprocessing.cpu_count())

2

Tal   Kvadrat   Kub
===================
  1       1       1
  2       4       8
  3       9      27
  4      16      64
  5      25     125
  6      36     216
  7      49     343
  8      64     512
  9      81     729
 10     100    1000
 11     121    1331
 12     144    1728
 13     169    2197
 14     196    2744
 15     225    3375
 16     256    4096
 17     289    4913
 18     324    5832
 19     361    6859
 20     400    8000

In [ ]:
mening = input('Ange en mening på svenska: ')
vok=  'aouåeiyäö'
kons =' bcdfghjklmnpqrstvzx.'
ny = ''

for i in mening:
  if i in kons: 
    ny += i+'o'+i
  else:
    ny += i
print(ny)

Ange en mening på svenska: klantskalle
koklolanontotsoskokalollole

In [ ]:
mening = input('Ange en mening på svenska: ')

# Konvertera den inmatade meningen till stora bokstäver för att minska antal
# jämförelser
attÖversätta = mening.upper()

# Sträng med alla konsonanter som används vid jämförelse mot den VERSALA 
# meningen i strängen attÖversätta
konsonanter = 'BCDFGHJKLMNPQRSTVWXZ'

# Initiera en ny sträng som ska lagra rövarspråket
nyMening = ''

# Yttre loopför att gå igenom alla tecken som finns i meingen
for tecken in attÖversätta:
    # Inre loop för att testa varje tecken i meningen om det är en konsonant
    for konsonant in konsonanter:
        # Om tecknet är en konsonant lägg in konsonant + o  
        if tecken == konsonant:
            nyMening += tecken + 'O'
            break # Om konsonant hittats sluta leta efter fler

    # Omingen konsonant hittades lägg till vokalen, eller 
    # avsluta med samma konsonant igen då rövarspråk kräva så
    nyMening += tecken

# Ändra den nya meningen till Inlednade stor bokstav
nyMening = nyMening.capitalize()

# Skriv ut den nya meningen
print('\nBlir på rövarspråket: \n\n' + nyMening)

Ange en mening på svenska: klantskalle

Blir på rövarspråket:

Koklolanontotsoskokalollole

In [ ]:
koloanotosokoaloloe
Koklolanontotsoskokalollole
koklolanontotsoskokalollole

In [ ]:
float(1.25433433)

1.25433433

In [ ]:
int(1.2)

1

In [ ]:
int('3')

3

In [ ]:
for i in range(0,10):
  print('*', end='')
  print('\n')

*

*

*

*

*

*

*

*

*

*

In [ ]:
for i in range(0,10):
  print('*')
  print('\n')

*


*


*


*


*


*


*


*


*


*

In [ ]:
import cProfile
def sum():
    print(1+2)
cProfile.run('sum()')

3
         39 function calls in 0.001 seconds

   Ordered by: standard name

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.000    0.000    0.001    0.001 <ipython-input-6-db52c97772c7>:2(sum)
        1    0.000    0.000    0.001    0.001 <string>:1(<module>)
        3    0.000    0.000    0.001    0.000 iostream.py:195(schedule)
        2    0.000    0.000    0.000    0.000 iostream.py:307(_is_master_process)
        2    0.000    0.000    0.000    0.000 iostream.py:320(_schedule_flush)
        2    0.000    0.000    0.001    0.000 iostream.py:382(write)
        3    0.000    0.000    0.000    0.000 iostream.py:93(_event_pipe)
        3    0.001    0.000    0.001    0.000 socket.py:438(send)
        3    0.000    0.000    0.000    0.000 threading.py:1050(_wait_for_tstate_lock)
        3    0.000    0.000    0.000    0.000 threading.py:1092(is_alive)
        3    0.000    0.000    0.000    0.000 threading.py:507(is_set)
        1    0.000    0.000    0.001    0.001 {built-in method builtins.exec}
        2    0.000    0.000    0.000    0.000 {built-in method builtins.isinstance}
        1    0.000    0.000    0.001    0.001 {built-in method builtins.print}
        2    0.000    0.000    0.000    0.000 {built-in method posix.getpid}
        3    0.000    0.000    0.000    0.000 {method 'acquire' of '_thread.lock' objects}
        3    0.000    0.000    0.000    0.000 {method 'append' of 'collections.deque' objects}
        1    0.000    0.000    0.000    0.000 {method 'disable' of '_lsprof.Profiler' objects}

In [ ]:
from __future__ import print_function
import sys

def eprint(*args, **kwargs):
    print(*args, file=sys.stderr, **kwargs)

eprint("abc", "efg", "xyz", sep="--")

abc--efg--xyz

In [ ]:
import getpass
print(getpass.getuser())

root

In [ ]:
x= int(input('Ge mig ett tal '))
res = (x*(x+1))/2
print(int(res))

Ge mig ett tal 8
36

In [ ]:
f=int(input('Enter your length in feet '))
i=int(input('Enter your length in inches '))
y = f*30.48
z = i * 2.54
print(float(y+z))

Enter your length in feet 6
Enter your length in inches 3
190.5

In [ ]:
from math import sqrt
a = float(input('Vad är basen? '))
b = float(input('Vad är höjden? '))
hyp = sqrt(a**2 + b**2)
print(hyp)

Vad är basen? 4
Vad är höjden? 3
5.0

In [ ]:
f=float(input('Enter your length in feet '))

i = 12/f
foot = f/f
miles = f/5280
y = 3/f

if f <=1:
  print(i, 'inches')
elif f>5280:
  print(int(miles), 'miles and', int(y), 'yards')
else:
  print(y, 'yards')

Enter your length in feet 7888
1 miles and 0 yards

In [ ]:
f=int(input('Enter your distance in feet '))
inch = f *12
y = f / 3
mi = f / 5280

print ('Avst i inches = ', inch)
print ('Avst i yards = ', round(y),3)
print ('Avst i miles = ', int(mi))

print ('Avst i inches = %i' % inch)
print ('Avst i yards = %.2f' % y)
print ('Avst i miles = %.2f' % mi)

Enter your distance in feet 5
Avst i inches =  60
Avst i yards =  2 3
Avst i miles =  0
Avst i inches = 60
Avst i yards = 1.67
Avst i miles = 0.00

In [ ]:

d_ft = int(input("Input distance in feet: "))
d_inches = d_ft * 12
d_yards = d_ft / 3.0
d_miles = d_ft / 5280.0

print("The distance in inches is %i inches." % d_inches)
print("The distance in yards is %.2f yards." % d_yards)
print("The distance in miles is %.2f miles." % d_miles)

Input distance in feet: 6666
The distance in inches is 79992 inches.
The distance in yards is 2222.00 yards.
The distance in miles is 1.26 miles.

In [ ]:
h = int(input('Hours '))
m = int(input('Minutes '))
s = int(input('Seconds '))
ho = h * 36000
mi = h * 60
se = s
print('That will be ', ho + mi + s, 'seconds')

Hours 4
Minutes 3
Seconds 6
That will be  144246 seconds

In [ ]:
def absolute_file_path(path_fname):
        import os
        return os.path.abspath('path_fname')        
print("Absolute file path: ",absolute_file_path("test.txt"))

Absolute file path:  /content/path_fname

In [ ]:
print("Absolute file path: ",absolute_file_path("a2.xlsx"))

Absolute file path:  /content/path_fname

In [ ]:
s = int(input('Seconds '))
days = int(s/86000)
hours = int(s/36000)
print('That will be', days, 'days and', hours)

Seconds 77777
That will be 0 days and 2

In [ ]:
time = float(input("Input time in seconds: "))
day = time // (24 * 3600)
time = time % (24 * 3600)
hour = time // 3600
time %= 3600
minutes = time // 60
time %= 60
seconds = time
print("d:h:m:s-> %d:%d:%d:%d" % (day, hour, minutes, seconds))

Input time in seconds: 66777882
d:h:m:s-> 772:21:24:42

In [ ]:
print(day, time, hour)

772.0 42.0 21.0

In [ ]:
w = int(input('Enter weight i kilos '))
l = int(input('Enter length in cm ')) /100
b = w /(l**2)
print('BMI = ', round(b))

Enter weight i kilos 82
Enter length in cm 191
BMI =  22

In [ ]:
kpa = float(input('Enter Kilopasacl '))
out = kpa * 0.14503773773020923
print(out)

Enter Kilopasacl 5
0.7251886886510461

In [ ]:
kpa = float(input("Input pressure in in kilopascals> "))
psi = kpa / 6.89475729
mmhg = kpa * 760 / 101.325
atm = kpa / 101.325
print("The pressure in pounds per square inch: %.2f psi"  % (psi))
print("The pressure in millimeter of mercury: %.2f mmHg" % (mmhg))
print("Atmosphere pressure: %.2f atm." % (atm))

Input pressure in in kilopascals> 5
The pressure in pounds per square inch: 0.73 psi
The pressure in millimeter of mercury: 37.50 mmHg
Atmosphere pressure: 0.05 atm.

In [ ]:
x = input('Input integer ')
y = len(x)
print(y)

Input integer 00000
5

In [ ]:
num = int(input("Input a four digit numbers: "))
x  = num //1000
x1 = (num - x*1000)//100
x2 = (num - x*1000 - x1*100)//10
x3 = num - x*1000 - x1*100 - x2*10
print("The sum of digits in the number is", x+x1+x2+x3)

Input a four digit numbers: 4444
The sum of digits in the number is 16

In [ ]:
x = input('Input integer ')
y = list(x)

z = x.split()

o = []

for i in y:

  o.append(i)
print(o)

Input integer 222
['2', '2', '2']

In [ ]:
print(type(x))
print(type(y))
print(x)
print(y)
print(z)
print(type(z))

<class 'str'>
<class 'list'>
123
['1', '2', '3']
['123']
<class 'list'>

In [ ]:
x = int(input('Give me some numbers '))
s=0
for i in str(x):
  s += int(i)
print(s)

Give me some numbers 1234
10

In [ ]:
a= 321

In [ ]:
type(a)

int

In [ ]:
import glob
import os

files = glob.glob("*.txt")
files.sort(key=os.path.getmtime)
print("\n".join(files))

In [ ]:
from stat import S_ISREG, ST_CTIME, ST_MODE
import os, sys, time

#Relative or absolute path to the directory
dir_path = sys.argv[1] if len(sys.argv) == 2 else r'.'

#all entries in the directory w/ stats
data = (os.path.join(dir_path, fn) for fn in os.listdir(dir_path))
data = ((os.stat(path), path) for path in data)

# regular files, insert creation date
data = ((stat[ST_CTIME], path)
           for stat, path in data if S_ISREG(stat[ST_MODE]))

for cdate, path in sorted(data):
    print(time.ctime(cdate), os.path.basename(path))

In [ ]:
import sys
import textwrap
module_name = ', '.join(sorted(sys.builtin_module_names))
print(textwrap.fill(module_name, width=70))

_abc, _ast, _bisect, _blake2, _codecs, _collections, _datetime,
_elementtree, _functools, _heapq, _imp, _io, _locale, _md5, _operator,
_pickle, _posixsubprocess, _random, _sha1, _sha256, _sha3, _sha512,
_signal, _socket, _sre, _stat, _string, _struct, _symtable, _thread,
_tracemalloc, _warnings, _weakref, array, atexit, binascii, builtins,
errno, faulthandler, fcntl, gc, grp, itertools, marshal, math, posix,
pwd, pyexpat, select, spwd, sys, syslog, time, unicodedata, xxsubtype,
zipimport, zlib

In [ ]:
import sys
print()
print("Current value of the recursion limit:")
print(sys.getrecursionlimit())
print()

Current value of the recursion limit:
1000

In [ ]:
list_of_colors = ['Red', 'White', 'Black']  
colors = '-'.join(list_of_colors)
print()
print("All Colors: "+colors)
print()

All Colors: Red-White-Black

In [ ]:
list_of_colors

['Red', 'White', 'Black']

In [ ]:
l = [1,2,3,4]

In [ ]:
sum(l)

10

In [ ]:
t = {1,2,3}

In [ ]:
sum(t)

6

In [ ]:
num = [2, 3, 4, 5]
print()
print(all(x > 1 for x in num))

True

In [ ]:
for i in num:
  if x

In [ ]:
mytuple = (1, True, 1)
x = all(mytuple)

In [ ]:
x

True

In [ ]:
a = 'abcde'

In [ ]:
a.count('d')

1

In [ ]:
type(a)

str

In [ ]:
x = int(input('Tal 1 '))
y = int(input('Tal 2 '))
print(str(x), '+', str(y), '=', x+y)

Tal 1 2
Tal 2 3
2 + 3 = 5

In [ ]:
x = int(input('Tal 1 '))
y = int(input('Tal 2 '))
print("\n%d+%d=%d" % (x, y, x+y))

Tal 1 2
Tal 2 3

2+3=5

In [ ]:
d = int(input('Datum '))
if d % 2 == 0:
  print('Första dage')

Datum 2
Första dage

In [ ]:
a = 30
b = 20
print("\nBefore swap a = %d and b = %d" %(a, b))
a, b = b, a
print("\nAfter swaping a = %d and b = %d" %(a, b))
print()

Before swap a = 30 and b = 20

After swaping a = 20 and b = 30

In [ ]:
print("\#{'}${\"}@/")
print(r'''\#{'}${"}@/''')

\#{'}${"}@/
\#{'}${"}@/

In [ ]:
print(r'''\#{'}${"}@/''')

\#{'}${"}@/

In [ ]:
x = 5
y = 'b'

print(x)
print(type(x))
print(id(x))
print('---')
print(y)
print(type(y))

5
<class 'int'>
94600560401024
---
b
<class 'str'>

In [ ]:
x = b'Abc'
print()
print("\nConvert bytes of the said string to a list of integers:")
print(list(x))
print()

Convert bytes of the said string to a list of integers:
[65, 98, 99]

In [ ]:
x = '2'

In [ ]:
x.is_numberic()

AttributeError: ignored

In [ ]:
str = 'a123'
str = '123'
try:
    i = float(str)
    print('Numeric')
except (ValueError, TypeError):
    print('\nNot numeric')
print()

Numeric

In [ ]:
import traceback
print()
def f1():return abc()
def abc():traceback.print_stack()
f1()
print()

  File "/usr/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.7/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "/usr/local/lib/python3.7/dist-packages/traitlets/config/application.py", line 845, in launch_instance
    app.start()
  File "/usr/local/lib/python3.7/dist-packages/ipykernel/kernelapp.py", line 499, in start
    self.io_loop.start()
  File "/usr/local/lib/python3.7/dist-packages/tornado/platform/asyncio.py", line 132, in start
    self.asyncio_loop.run_forever()
  File "/usr/lib/python3.7/asyncio/base_events.py", line 541, in run_forever
    self._run_once()
  File "/usr/lib/python3.7/asyncio/base_events.py", line 1786, in _run_once
    handle._run()
  File "/usr/lib/python3.7/asyncio/events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "/usr/local/lib/python3.7/dist-packages/tornado/platform/asyncio.py", line 122, in _handle_events
    handler_func(fileobj, events)
  File "/usr/local/lib/python3.7/dist-packages/tornado/stack_context.py", line 300, in null_wrapper
    return fn(*args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/zmq/eventloop/zmqstream.py", line 448, in _handle_events
    self._handle_recv()
  File "/usr/local/lib/python3.7/dist-packages/zmq/eventloop/zmqstream.py", line 477, in _handle_recv
    self._run_callback(callback, msg)
  File "/usr/local/lib/python3.7/dist-packages/zmq/eventloop/zmqstream.py", line 431, in _run_callback
    callback(*args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/tornado/stack_context.py", line 300, in null_wrapper
    return fn(*args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/ipykernel/kernelbase.py", line 283, in dispatcher
    return self.dispatch_shell(stream, msg)
  File "/usr/local/lib/python3.7/dist-packages/ipykernel/kernelbase.py", line 233, in dispatch_shell
    handler(stream, idents, msg)
  File "/usr/local/lib/python3.7/dist-packages/ipykernel/kernelbase.py", line 399, in execute_request
    user_expressions, allow_stdin)
  File "/usr/local/lib/python3.7/dist-packages/ipykernel/ipkernel.py", line 208, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "/usr/local/lib/python3.7/dist-packages/ipykernel/zmqshell.py", line 537, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py", line 2718, in run_cell
    interactivity=interactivity, compiler=compiler, result=result)
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py", line 2822, in run_ast_nodes
    if self.run_code(code, result):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py", line 2882, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-82-46d52883091b>", line 5, in <module>
    f1()
  File "<ipython-input-82-46d52883091b>", line 3, in f1
    def f1():return abc()
  File "<ipython-input-82-46d52883091b>", line 4, in abc
    def abc():traceback.print_stack()