<a href="https://colab.research.google.com/github/rickardtorsdag/datasciencecoursera/blob/master/ovningsbokPython1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5 kap Loopar

In [200]:
for i in range(1, 16):
  print(i, end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15

In [201]:
for i in range(20, 31):
  print(i, end=' ')

20 21 22 23 24 25 26 27 28 29 30

In [202]:
for i in range(0, 1001):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881 882 883 884 885 886 887 888 889 890 891 892 893 894 895 896 897 898 899 900 901 902 903 904 905 906 907 908 909 910 911 912 913 914 915 916 917 918 919 920 921 922 923 924 925 926 927 928 929 930 931 932 933 934 935 936 937 938 939 940 941 942 943 944 945 946 947 948 949 950 951 952 953 954 955 956 957 958 959 960 961 962 963 964 965 966 967 968 969 970 971 972 973 974 975 976 977 978 979 980 981 982 983 984 985 986 987 988 989 990 991 992 993 994 995 996 997 998 999 1000

In [203]:
for i in range(100, 0, -1):
  print(i, end=' ')

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [204]:
for i in range(2,20, 2):
  print(i, end=' ')

2 4 6 8 10 12 14 16 18

In [205]:
for i in range(10):
  if i>0:
    print(i+i, end=' ')

2 4 6 8 10 12 14 16 18

In [206]:
sum =0
for i in range(1,51):
  sum = sum + i
print(sum)

1275

In [207]:
sum=0

for i in range (51):
  sum=sum+i
print("sum of number is",sum)

sum of number is 1275

In [209]:
for i in range(3):
  print('X')
  for j in range(4):
    print('Y')

X
Y
Y
Y
Y
X
Y
Y
Y
Y
X
Y
Y
Y
Y

In [210]:
x=0
for i in range(10):
  x=x+1
for j in range(10):
    x=x+1
print(x)

20

In [211]:
x=0
for i in range(10):
  x=x+1
  for j in range(10):
      x=x+1
print(x)

110

In [212]:
for i in range(1, 20):
  kvad = i**2
  kub = pow(i, 3)
  print(f'{i} i kvadrat: {kvad}, i kubik: {kub} ')

1 i kvadrat: 1, i kubik: 1
2 i kvadrat: 4, i kubik: 8
3 i kvadrat: 9, i kubik: 27
4 i kvadrat: 16, i kubik: 64
5 i kvadrat: 25, i kubik: 125
6 i kvadrat: 36, i kubik: 216
7 i kvadrat: 49, i kubik: 343
8 i kvadrat: 64, i kubik: 512
9 i kvadrat: 81, i kubik: 729
10 i kvadrat: 100, i kubik: 1000
11 i kvadrat: 121, i kubik: 1331
12 i kvadrat: 144, i kubik: 1728
13 i kvadrat: 169, i kubik: 2197
14 i kvadrat: 196, i kubik: 2744
15 i kvadrat: 225, i kubik: 3375
16 i kvadrat: 256, i kubik: 4096
17 i kvadrat: 289, i kubik: 4913
18 i kvadrat: 324, i kubik: 5832
19 i kvadrat: 361, i kubik: 6859

In [213]:
c = int(input('Hur många grader celcius är det? '))
f= 32+c*9/5
print(f'{c} celciusgrader motsvarar {f} Farenheit ')

Hur många grader celcius är det? 100
100 celciusgrader motsvarar 212.0 Farenheit

In [214]:
for i in range(-40, 41):
  f= 32+i*9/5
  print(f'{i} C är {round(f)} Farenheit ')

-40 C är -40 Farenheit
-39 C är -38 Farenheit
-38 C är -36 Farenheit
-37 C är -35 Farenheit
-36 C är -33 Farenheit
-35 C är -31 Farenheit
-34 C är -29 Farenheit
-33 C är -27 Farenheit
-32 C är -26 Farenheit
-31 C är -24 Farenheit
-30 C är -22 Farenheit
-29 C är -20 Farenheit
-28 C är -18 Farenheit
-27 C är -17 Farenheit
-26 C är -15 Farenheit
-25 C är -13 Farenheit
-24 C är -11 Farenheit
-23 C är -9 Farenheit
-22 C är -8 Farenheit
-21 C är -6 Farenheit
-20 C är -4 Farenheit
-19 C är -2 Farenheit
-18 C är 0 Farenheit
-17 C är 1 Farenheit
-16 C är 3 Farenheit
-15 C är 5 Farenheit
-14 C är 7 Farenheit
-13 C är 9 Farenheit
-12 C är 10 Farenheit
-11 C är 12 Farenheit
-10 C är 14 Farenheit
-9 C är 16 Farenheit
-8 C är 18 Farenheit
-7 C är 19 Farenheit
-6 C är 21 Farenheit
-5 C är 23 Farenheit
-4 C är 25 Farenheit
-3 C är 27 Farenheit
-2 C är 28 Farenheit
-1 C är 30 Farenheit
0 C är 32 Farenheit
1 C är 34 Farenheit
2 C är 36 Farenheit
3 C är 37 Farenheit
4 C är 39 Farenheit
5 C är 41 Farenheit
6 C är 43 Farenheit
7 C är 45 Farenheit
8 C är 46 Farenheit
9 C är 48 Farenheit
10 C är 50 Farenheit
11 C är 52 Farenheit
12 C är 54 Farenheit
13 C är 55 Farenheit
14 C är 57 Farenheit
15 C är 59 Farenheit
16 C är 61 Farenheit
17 C är 63 Farenheit
18 C är 64 Farenheit
19 C är 66 Farenheit
20 C är 68 Farenheit
21 C är 70 Farenheit
22 C är 72 Farenheit
23 C är 73 Farenheit
24 C är 75 Farenheit
25 C är 77 Farenheit
26 C är 79 Farenheit
27 C är 81 Farenheit
28 C är 82 Farenheit
29 C är 84 Farenheit
30 C är 86 Farenheit
31 C är 88 Farenheit
32 C är 90 Farenheit
33 C är 91 Farenheit
34 C är 93 Farenheit
35 C är 95 Farenheit
36 C är 97 Farenheit
37 C är 99 Farenheit
38 C är 100 Farenheit
39 C är 102 Farenheit
40 C är 104 Farenheit

In [215]:
i=-40
while i<41:
  f= 32+i*9/5
  print(f'{i} C är {round(f)} Farenheit ')
  i+=1

-40 C är -40 Farenheit
-39 C är -38 Farenheit
-38 C är -36 Farenheit
-37 C är -35 Farenheit
-36 C är -33 Farenheit
-35 C är -31 Farenheit
-34 C är -29 Farenheit
-33 C är -27 Farenheit
-32 C är -26 Farenheit
-31 C är -24 Farenheit
-30 C är -22 Farenheit
-29 C är -20 Farenheit
-28 C är -18 Farenheit
-27 C är -17 Farenheit
-26 C är -15 Farenheit
-25 C är -13 Farenheit
-24 C är -11 Farenheit
-23 C är -9 Farenheit
-22 C är -8 Farenheit
-21 C är -6 Farenheit
-20 C är -4 Farenheit
-19 C är -2 Farenheit
-18 C är 0 Farenheit
-17 C är 1 Farenheit
-16 C är 3 Farenheit
-15 C är 5 Farenheit
-14 C är 7 Farenheit
-13 C är 9 Farenheit
-12 C är 10 Farenheit
-11 C är 12 Farenheit
-10 C är 14 Farenheit
-9 C är 16 Farenheit
-8 C är 18 Farenheit
-7 C är 19 Farenheit
-6 C är 21 Farenheit
-5 C är 23 Farenheit
-4 C är 25 Farenheit
-3 C är 27 Farenheit
-2 C är 28 Farenheit
-1 C är 30 Farenheit
0 C är 32 Farenheit
1 C är 34 Farenheit
2 C är 36 Farenheit
3 C är 37 Farenheit
4 C är 39 Farenheit
5 C är 41 Farenheit
6 C är 43 Farenheit
7 C är 45 Farenheit
8 C är 46 Farenheit
9 C är 48 Farenheit
10 C är 50 Farenheit
11 C är 52 Farenheit
12 C är 54 Farenheit
13 C är 55 Farenheit
14 C är 57 Farenheit
15 C är 59 Farenheit
16 C är 61 Farenheit
17 C är 63 Farenheit
18 C är 64 Farenheit
19 C är 66 Farenheit
20 C är 68 Farenheit
21 C är 70 Farenheit
22 C är 72 Farenheit
23 C är 73 Farenheit
24 C är 75 Farenheit
25 C är 77 Farenheit
26 C är 79 Farenheit
27 C är 81 Farenheit
28 C är 82 Farenheit
29 C är 84 Farenheit
30 C är 86 Farenheit
31 C är 88 Farenheit
32 C är 90 Farenheit
33 C är 91 Farenheit
34 C är 93 Farenheit
35 C är 95 Farenheit
36 C är 97 Farenheit
37 C är 99 Farenheit
38 C är 100 Farenheit
39 C är 102 Farenheit
40 C är 104 Farenheit

In [216]:
sum=1
for i in range(1,2017):
  sum= sum*1.02
print(sum)

2.1774403775021254e+17

In [217]:
x = input('Skriv en mening ')
for i in x: 
  print(i, end=' ')

Skriv en mening hej hej
h e j   h e j

In [218]:
password = 'kalle'
while x != password: 
  x = input('Lösenord ')
  if x == password:
    print('ok')
    break
  elif x=='':
    print('Avbruten inloggning')
    break

Lösenord kalle
ok

In [219]:
for i in range(5):
  for j in range(1,10):
    print(j, end=' ')
  print()

1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9

In [220]:
for i in range(1,10):
  print(i, end=' ')
  for j in range(1,9):
    print(i, end=' ')
  print()

1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3 3
4 4 4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6 6
7 7 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [221]:
for i in range(6):
  for j in range(i):
    print('*', end='')
  print()

*
**
***
****
*****

In [222]:
for i in range(9):
  for j in range(10):
    print(i, end=' ')
  print()

0 0 0 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3 3 3
4 4 4 4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6 6 6
7 7 7 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8 8 8

In [223]:
for i in range(10):
  for j in range(0,10-i):
    print(j, end=' ')
  print()

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [224]:
r = 10
for i in range(10):
  for j in range(i):
    print('  ', end='')
  for j in range(0,10-i):
    print(j, end=' ')

  print()

0 1 2 3 4 5 6 7 8 9
  0 1 2 3 4 5 6 7 8
    0 1 2 3 4 5 6 7
      0 1 2 3 4 5 6
        0 1 2 3 4 5
          0 1 2 3 4
            0 1 2 3
              0 1 2
                0 1
                  0

In [225]:
for i in range(1,10):
  for j in range(1, 10):
    print(i*j, end=' ')
  print()

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [226]:
for i in range(1,10):
  for j in range(1, 10):
    res = i*j
    print(f"{res:2}", end='  ')
  print()

 1   2   3   4   5   6   7   8   9
 2   4   6   8  10  12  14  16  18
 3   6   9  12  15  18  21  24  27
 4   8  12  16  20  24  28  32  36
 5  10  15  20  25  30  35  40  45
 6  12  18  24  30  36  42  48  54
 7  14  21  28  35  42  49  56  63
 8  16  24  32  40  48  56  64  72
 9  18  27  36  45  54  63  72  81

In [227]:
for i in range(1,10):
  for j in range(1, 10):
    print(f"{i*j:2}", end='  ')
  print()

 1   2   3   4   5   6   7   8   9
 2   4   6   8  10  12  14  16  18
 3   6   9  12  15  18  21  24  27
 4   8  12  16  20  24  28  32  36
 5  10  15  20  25  30  35  40  45
 6  12  18  24  30  36  42  48  54
 7  14  21  28  35  42  49  56  63
 8  16  24  32  40  48  56  64  72
 9  18  27  36  45  54  63  72  81

In [228]:
f= int(input('Ange första talet '))
a= int(input('Ange andra talet '))
faktor=0
if f<a: 
  faktor = 1
else:
  faktor=-1
for i in range(f, a, faktor):
  print(f"{i:1}", end=' ')

Ange första talet 3
Ange andra talet 6
3 4 5

In [229]:
print("**********\n" *5)

**********
**********
**********
**********
**********

In [230]:
for i in range(5):
  print('**********')

**********
**********
**********
**********
**********

# 6 kap Mer om teckensträngar i Python

In [231]:
str = 'aaaabC A defg '
'a' in str

True

In [232]:
str.center(33)

'          aaaabC A defg          '

In [233]:
str.count('a')

4

In [234]:
str.rjust(31)

'                 aaaabC A defg '

In [235]:
str.ljust(33)

'aaaabC A defg                    '

In [236]:
str.upper()

'AAAABC A DEFG '

In [237]:
str.lower()

'aaaabc a defg '

In [238]:
str.capitalize()

'Aaaabc a defg '

In [239]:
str.title()

'Aaaabc A Defg '

In [240]:
str.strip()

'aaaabC A defg'

In [241]:
str.strip(' ')

'aaaabC A defg'

In [242]:
str.replace('A', '*')

'aaaabC * defg '

In [243]:
x = input('Skriv en mening ')
print(f'Meningen består av {len(x)} tecken')

Skriv en mening hej du glade, ta en spade
Meningen består av 25 tecken

In [245]:
f = input('Förnamn ').title()
e = input('Förnamn ').title()
fullst = f + ' ' + e
print(f'Fullständigt namn: {fullst} ' )

Förnamn Joakim
Förnamn von anka
Fullständigt namn: Joakim Von Anka

In [246]:
x = input('Skriv en mening ')
y = (x)[::-1]
print(y)

Skriv en mening Hej du glade
edalg ud jeH

In [247]:
x = 'Alla känner apan men apan känner ingen '
y = x.replace('apan', 'gorillan')
print(y)

Alla känner gorillan men gorillan känner ingen

In [249]:
z = x.count('a')
print(f"Alla känner apan men apan känner ingen - innehåller {z} stycken 'a' ")

Alla känner apan men apan känner ingen - innehåller 5 stycken 'a'

In [250]:
headers = ['Tal', 'kvad', 'kub']
format_string = "{:<5}{:<8}{:<10}"
print(format_string.format(*headers))
for i in range(1, 5):
  kvad = i**2
  kub = pow(i, 3)
  print(f'{i}     {kvad:2}     {kub:2} ')

Tal  kvad    kub
1      1      1
2      4      8
3      9     27
4     16     64

In [251]:
cols= 30
rows = 30
mid = cols/2

while i < rows/2:
  print('*', end='')
  i = i+1
  print()

*
*
*
*
*
*
*
*
*
*
*

In [253]:
rows = int(input("Enter The Number Of Rows: "))
columns = 2*rows -1
i = 0
while i < rows:
    j = 0
    while j < columns :
        if( (columns//2)-i <= j <= (columns//2)  +i):
            print("*",end = "")
        else:
            print(" ",end = "")
        
        j+=1
    print(" ")
    i+=1
    
i = 0
while i < rows:
    j = 0
    while j < columns :
        if( i <= j <= columns-1 -i):
            print("*",end = "")
        else:
            print(" ",end = "")
        
        j+=1
    print(" ")
    i+=1

Enter The Number Of Rows: 12
           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  *******************
 *********************
***********************
***********************
 *********************
  *******************
   *****************
    ***************
     *************
      ***********
       *********
        *******
         *****
          ***
           *

In [254]:
rows = int(input("Enter The Number Of Rows: "))
columns = 2*rows -1
i = 0
while i < rows:
    j = 0
    while j < columns :
        if( (columns//2)-i <= j <= (columns//2)  +i):
            print("*",end = "")
        else:
            print(" ",end = "")
        
        j+=1
    print(" ")
    i+=1

Enter The Number Of Rows: 12
           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  *******************
 *********************
***********************

In [255]:
v = 'aeiouyåäö '
k = ' b, c, d, f, g, h, j, k, l, m, n, p, q, r, s, t, v, z, x'
k = k.replace(', ', '').strip()
str = input('Skriv en mening ').lower()
for i in str: 
  if i in v: 
    print(i, end='')
  elif i in k: 
    print(i+'o'+i, end='')

Skriv en mening Hej du glade, ta en spade
hohejoj dodu gogloladode tota enon sospopadode

In [ ]:
v = 'aeiouyåäö '
k = ' b, c, d, f, g, h, j, k, l, m, n, p, q, r, s, t, v, z, x'
k = k.replace(', ', '').strip()
str = input('Skriv en mening på rövarspråket ').lower()
output=[]
for i in str: 
  if i in k and str[i+1]=='o':
    print(i)
  elif i in v:
    print(i) 

print(output)
#

In [ ]:
v = 'aeiouyåäö '
k = ' b, c, d, f, g, h, j, k, l, m, n, p, q, r, s, t, v, z, x'
k = k.replace(', ', '').strip()
str = 'jojagog totalolaror rorövovarorsospoproråkoketot'
output=[]
nstr = ''
for i in range(len(str)): 
  if str[i] in k:
    for j in range(1):
      if str[j+1]=='o':
        nstr = ''.join(str[i])
 # elif str[i] in v:
 #   nstr = ''.join(str[i]) 
    print(nstr)

#  elif str[i] in v:
    print(str[i])

In [258]:
#x = int(imput('Skriv ditt personnummer '))
nstr=''
x = '820713-1239'
y =x.strip().replace('-', '')
z=int(y)
f=-1
mult = 2
#if len(y)==10:

In [ ]:
# x = '820713-1239'
# 881212-1221
x = input('Skriv ditt personnummer ')
nstr=''
sum=0
c=2
print(y)
y =x.strip().replace('-', '')
for i in y: 
  if int(i)*c>9:
    nstr += str(int(i)*c-9)
  elif int(i)*c<=9:
    nstr += str(int(i)*c)
  if c==2:
     c=1
  elif c==1:
     c=2

for i in nstr:
  sum= sum + int(i)
if sum%10==0:
  print('ok')
else:
  print('ej validerat')

In [262]:
v = 'aeiouyåäö '
k = ' b, c, d, f, g, h, j, k, l, m, n, p, q, r, s, t, v, z, x'
k = k.replace(', ', '').strip()
string = 'jojagog totalolaror rorövovarorsospoproråkoketot'
output =''
teststring =''

for i in range(1, len(string)):
  if string[i] in k and string[i-1]=='o' and string[i-2]== string[i]:
    output += string[i]
  if string[i] in v and not string[i-1]==string[i+1]: 
    output += string[i]
  if string[i]==' ':
    output += string[i]

print(output)
print(teststring)

jag  talar rövarspråket

In [ ]:
dåligt = 49
ont = 48
illa=47
bra = 51
fint =52
utmärkt=53
finemang=54
pos = True 
str = input('Hej hur mår du? ').lower()
mylist = s
print(mylist)

**fetstil**# Binära tal

#7 Kap Binära tal

# 8 kap Listor och tipplar

In [ ]:
lista = []
ant= int(input('Hur många tal vill du ange? '))
for i in range(1, ant+1):
  tal = int(input(f'Tal {i} '))
  lista.append(tal)
print(lista)

Hur många tal vill du ange? 4
Tal 1 3
Tal 2 2
Tal 3 5
Tal 4 6
[3, 2, 5, 6]

In [ ]:
lista = []
ant= int(input('Hur många tal vill du ange? '))
for i in range(1, ant+1):
  tal = int(input(f'Tal {i} '))
  lista.append(tal)

lista.reverse()
print(lista)

Hur många tal vill du ange? 3
Tal 1 1
Tal 2 4
Tal 3 7
[7, 4, 1]

In [ ]:
import numpy as np
lista = []
ant= int(input('Hur många tal vill du ange? '))
for i in range(1, ant+1):
  tal = int(input(f'Tal {i} '))
  lista.append(tal)


s = sum(lista)
m = np.mean(lista)
print(f'Summan av talen är {s} och medelvärdet är {m} ')

Hur många tal vill du ange? 5
Tal 1 4
Tal 2 3
Tal 3 5
Tal 4 66
Tal 5 5
Summan av talen är 83 och medelvärdet är 16.6

In [266]:
m = ['januari', 'februari', 'mars', 'april', 'maj', 'juni', 'juli', 'augusti', 'september', 'oktober', 'november', 'december']

while True: 
  num = int(input('Ange månadens ordningstal '))
  if num >=1 and num <=12:
    print(m[num-1])
  elif num >12:
    print('Det finns bara tolv månader, försök igen')
  elif num ==' ':
    break

Ange månadens ordningstal 3
mars
Ange månadens ordningstal 2
februari
Ange månadens ordningstal 0
Ange månadens ordningstal

ValueError: ignored

In [267]:
from random import *
t = randint(10,16)
l = [randint(1,101) for i in range(t)]
minstaTal = min(l)
for i in range(0, len(l)): 
  if l[i]== minstaTal:
    pos = i+1
print(f'Lägsta talet är {minstaTal} och dess position är {pos} ')
print(l)
firstNum = l[0]

swappedLIst = l

swappedLIst[0]=minstaTal
swappedLIst[pos-1]=firstNum
print(swappedLIst)
print(f'{minstaTal} har bytt plats med {firstNum} ')

Lägsta talet är 3 och dess position är 3
[76, 53, 3, 84, 99, 92, 53, 45, 43, 13]
[3, 53, 76, 84, 99, 92, 53, 45, 43, 13]
3 har bytt plats med 76

In [268]:
from random import *
t = randint(10,16)
l = [randint(1,101) for i in range(t)]
minstaTal = min(l)
for i in range(0, len(l)): 
  if l[i]== minstaTal:
    pos = i+1
print(f'Lägsta talet är {minstaTal} och dess position är {pos} ')

firstNumber = l[0]

print(l)
for i in range(len(l)):
  taletBakom= l[i-1]
  if l[i] == minstaTal:
    l[pos-1]= firstNumber
    l[0]= minstaTal
    

print(l)

Lägsta talet är 1 och dess position är 11
[9, 49, 98, 101, 54, 14, 96, 20, 89, 49, 1]
[1, 49, 98, 101, 54, 14, 96, 20, 89, 49, 9]

In [269]:
from random import *
t = randint(10,16)
l = [randint(1,101) for i in range(t)]
minstaTal = min(l)
for i in range(0, len(l)): 
  if l[i]== minstaTal:
    pos = i+1
print(f'Lägsta talet är {minstaTal} och dess position är {pos} ')

firstNumber = l[0]

print(l)
for i in range(len(l)):
  taletBakom= l[i-1]
  if l[i] == minstaTal:
    l[pos-1]= firstNumber
    l[0]= minstaTal
    

print(l)
for i in range(1, len(l)-1):
  mem = l[i+1]
  if l[i]>l[i+1]:
    l[i+1]=l[i]
    l[i]=mem

print(l)

Lägsta talet är 1 och dess position är 13
[64, 73, 71, 73, 88, 63, 53, 64, 71, 65, 52, 99, 1]
[1, 73, 71, 73, 88, 63, 53, 64, 71, 65, 52, 99, 64]
[1, 71, 73, 73, 63, 53, 64, 71, 65, 52, 88, 64, 99]

In [270]:
from random import *
t = randint(10,16)
l = [randint(1,101) for i in range(t)]
minstaTal = min(l)
for i in range(0, len(l)): 
  if l[i]== minstaTal:
    pos = i+1
print(f'Lägsta talet är {minstaTal} och dess position är {pos} ')

firstNumber = l[0]

print(l)
for i in range(len(l)):
  taletBakom= l[i-1]
  if l[i] == minstaTal:
    l[pos-1]= firstNumber
    l[0]= minstaTal
    
print(l)


while l[len(l)-1] != max(l):
  for i in range(1, len(l)-1):
    mem = l[i+1]
    if l[i]>l[i+1]:
      l[i+1]=l[i]
      l[i]=mem

print(l)

Lägsta talet är 6 och dess position är 5
[23, 68, 76, 81, 6, 54, 70, 87, 26, 35, 30, 92, 64, 58]
[6, 68, 76, 81, 23, 54, 70, 87, 26, 35, 30, 92, 64, 58]
[6, 68, 76, 23, 54, 70, 81, 26, 35, 30, 87, 64, 58, 92]

In [ ]:
from random import *
t = randint(10,16)
l = [randint(1,101) for i in range(t)]
minstaTal = min(l)
for i in range(0, len(l)): 
  if l[i]== minstaTal:
    pos = i+1
print(f'Lägsta talet är {minstaTal} och dess position är {pos} ')

firstNumber = l[0]

print(l)

while l[len(l)-1] != max(l):

  for i in range(1, len(l)):
    minne = l[i]
    if l[i]>l[i-1]:
      l[i-1]==i
      
print(l)

In [ ]:
from random import *
t = randint(10,16)
l = [randint(1,101) for i in range(t)]
minstaTal = min(l)
for i in range(0, len(l)): 
  if l[i]== minstaTal:
    pos = i+1
print(f'Lägsta talet är {minstaTal} och dess position är {pos} ')
print(l)

for i in range(1, len(l)):
    minne = l[i-1]
    if l[i-1]>l[i]:
      l[i-1]= l[i]
      l[i]= minne
print(l)

Lägsta talet är 2 och dess position är 3
[23, 37, 2, 43, 88, 99, 63, 78, 75, 25, 16, 57, 43, 26, 7]
[23, 2, 37, 43, 88, 63, 78, 75, 25, 16, 57, 43, 26, 7, 99]

In [ ]:
from random import *
t = randint(10,16)
l = [randint(1,101) for i in range(t)]
minstaTal = min(l)
for i in range(0, len(l)): 
  if l[i]== minstaTal:
    pos = i+1
print(f'Lägsta talet är {minstaTal} och dess position är {pos} ')
print(l)

l[0]==minstaTal

# while l[len(l)-1] != max(l):


for i in range(1, len(l)-1):
      minne = l[i-1]
      if l[i]>l[i+1]:
        l[i]= l[-i]
        l[i]= minne
      
print(l)

Lägsta talet är 2 och dess position är 16
[11, 75, 8, 4, 63, 33, 34, 100, 44, 77, 20, 86, 93, 64, 97, 2]
[11, 11, 11, 4, 4, 33, 34, 34, 44, 44, 20, 86, 86, 64, 64, 2]

In [273]:
from random import *
newlist=[]
t = randint(10,16)
l = [randint(1,101) for i in range(t)]
minstaTal = min(l)
for i in range(0, len(l)-1): 
  if l[i]== minstaTal:
    pos = i+1
print(f'Lägsta talet är {minstaTal} och dess position är {pos} ')
print(l)

print(l)
print(newlist)

Lägsta talet är 8 och dess position är 5
[60, 92, 67, 8, 8, 56, 39, 26, 56, 95, 30, 88]
[60, 92, 67, 8, 8, 56, 39, 26, 56, 95, 30, 88]
[]

# 8 kap Funktioner

In [274]:
def kvadrat(x):
  return x**2

In [275]:
kvadrat(8)

64

In [276]:
for i in range(11):
  print(kvadrat(i), end=' ')

0 1 4 9 16 25 36 49 64 81 100

In [277]:
def linje(l):
  print('-'*l)
linje(24)

------------------------

In [278]:
def maximum(x, y):
  if x>y:
    print(f'{x} är större än {y} ')
  if x==y:
    print(f'{x} är lika stort som {y} ')
  if y>x:
    print(f'{x} är mindre än {y} ')

In [279]:
print(maximum(1, 12))
print(maximum(12, 12))
print(maximum(12, 1))

1 är mindre än 12
None
12 är lika stort som 12
None
12 är större än 1
None

In [280]:
def maximum3(x, y, z):
  if x > y and x >z:
    return x
  elif y>x and y>z:
    return y
  else: 
    return z

In [281]:
maximum3(1, 2,33)

33

In [282]:
maximum3(66, 2,33)

66

In [283]:
maximum3(1, 219,33)

219

In [284]:
maximum3(1, 1,393)

393

In [285]:
def nettopris(pris):
  if pris >=500 and pris <1001:
    return pris * .98
  elif pris >1001: 
    return pris *.95
  else:
    return pris

In [286]:
nettopris(499)

499

In [287]:
nettopris(500)

490.0

In [288]:
nettopris(1012)

961.4

In [289]:
print(nettopris(43333))

41166.35

In [290]:
def calc(tal1, tal2, operator):
  if operator == '+':
    return tal1 + tal2
  if operator == '-':
    return tal1 - tal2
  if operator == '*':
    return tal1 * tal2

In [291]:
calc(2, 8, '+')

10

In [292]:
resultat = calc(2, 44, '*')
print(resultat)

88

In [294]:
import math

def cirkelarea(x):
  return math.sqrt(x/math.pi)

def main(): 
  tal = float(input('Ange cirklens area '))
  enhet = input('Ange areaenhet, kvadratmillimeter, kvadratcentimeter, kvadratdecimeter, kradratmeter ')
  s= ''
  if enhet == 'kvadratmillimeter':
    s= 'millimeter'
  elif enhet == 'kvadratcentimeter':
    s = 'centimeter'
  print(f'En cirkel med arean {tal} {enhet} har en radie på {cirkelarea(tal)} {s} ')

main()

Ange cirklens area 444
Ange areaenhet, kvadratmillimeter, kvadratcentimeter, kvadratdecimeter, kradratmeter kvadratmillimeter
En cirkel med arean 444.0 kvadratmillimeter har en radie på 11.888212206450685 millimeter

In [296]:
lista = [1, 1]
for i in range(2,40):
        lista.append(lista[i-2]+lista[i-1])

print(lista)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155]

In [298]:
def fibosteps(i):
  tal1 = 0
  tal2 = 1
  tal3 = 0
  tmp = 0
  for x in range(i):
    tal3 = tal1+tal2
    fibolist.append(tal3)
    tmp = tal2
    tal2 = tal3
    tal1 = tmp

  return tal3

In [299]:
fibosteps(11)

144

In [302]:
fibosteps(10)

89

kvoten av föregående tal

In [303]:
kvotlista=[]
for i in range(0, len(lista)):
  kvotlista.append(lista[i-1]/lista[i-2])

print(kvotlista)

[1.6180339887498947, 9.77190850894308e-09, 1.0, 2.0, 1.5, 1.6666666666666667, 1.6, 1.625, 1.6153846153846154, 1.619047619047619, 1.6176470588235294, 1.6181818181818182, 1.6179775280898876, 1.6180555555555556, 1.6180257510729614, 1.6180371352785146, 1.618032786885246, 1.618034447821682, 1.6180338134001253, 1.618034055727554, 1.6180339631667064, 1.6180339985218033, 1.618033985017358, 1.6180339901755971, 1.618033988205325, 1.618033988957902, 1.6180339886704431, 1.6180339887802426, 1.618033988738303, 1.6180339887543225, 1.6180339887482036, 1.6180339887505408, 1.6180339887496482, 1.618033988749989, 1.618033988749859, 1.6180339887499087, 1.6180339887498896, 1.618033988749897, 1.618033988749894, 1.6180339887498951]

In [304]:
for i in range(1, len(lista)):
  kvot = lista[i] / lista[i-1]
  print(i,':',kvot)
  print()

1 : 1.0

2 : 2.0

3 : 1.5

4 : 1.6666666666666667

5 : 1.6

6 : 1.625

7 : 1.6153846153846154

8 : 1.619047619047619

9 : 1.6176470588235294

10 : 1.6181818181818182

11 : 1.6179775280898876

12 : 1.6180555555555556

13 : 1.6180257510729614

14 : 1.6180371352785146

15 : 1.618032786885246

16 : 1.618034447821682

17 : 1.6180338134001253

18 : 1.618034055727554

19 : 1.6180339631667064

20 : 1.6180339985218033

21 : 1.618033985017358

22 : 1.6180339901755971

23 : 1.618033988205325

24 : 1.618033988957902

25 : 1.6180339886704431

26 : 1.6180339887802426

27 : 1.618033988738303

28 : 1.6180339887543225

29 : 1.6180339887482036

30 : 1.6180339887505408

31 : 1.6180339887496482

32 : 1.618033988749989

33 : 1.618033988749859

34 : 1.6180339887499087

35 : 1.6180339887498896

36 : 1.618033988749897

37 : 1.618033988749894

38 : 1.6180339887498951

39 : 1.6180339887498947

In [306]:
import math
from math import sqrt
fi = (1+ sqrt(5))/2
print(fi)

1.618033988749895

# 9 kap Slumptal i programmering

In [307]:
import random

Slumpa fram ren lottorad

In [308]:
import random 
lotto= []
for i in range(6):
  lotto.append(randint(1, 36))
print(lotto)

[19, 27, 8, 6, 33, 33]

Slumpa en lottorad med unika tal

In [309]:
# använder funktionen sample() isft randint()
lotto= []
for i in range(6):
  lotto= (sample(range(1, 36), 7))
print(lotto)

[33, 2, 6, 9, 12, 19, 5]