<a href="https://colab.research.google.com/github/rickardtorsdag/datasciencecoursera/blob/master/ovningsbokPython1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5 kap Loopar

In [ ]:
for i in range(1, 16):
  print(i, end=' ')

In [ ]:
for i in range(20, 31):
  print(i, end=' ')

In [ ]:
for i in range(0, 1001):
  print(i, end=' ')

In [ ]:
for i in range(100, 0, -1):
  print(i, end=' ')

In [ ]:
for i in range(2,20, 2):
  print(i, end=' ')

In [ ]:
for i in range(10):
  if i>0:
    print(i+i, end=' ')

In [ ]:
sum =0
for i in range(1,51):
  sum = sum + i
print(sum)

In [ ]:
sum=0

for i in range (51):
  sum=sum+i
print("sum of number is",sum)

In [ ]:
for i in range(3):
  print('X')
  for j in range(4):
    print('Y')

In [ ]:
x=0
for i in range(10):
  x=x+1
for j in range(10):
    x=x+1
print(x)

In [ ]:
x=0
for i in range(10):
  x=x+1
  for j in range(10):
      x=x+1
print(x)

In [ ]:
for i in range(1, 20):
  kvad = i**2
  kub = pow(i, 3)
  print(f'{i} i kvadrat: {kvad}, i kubik: {kub} ')

In [ ]:
c = int(input('Hur många grader celcius är det? '))
f= 32+c*9/5
print(f'{c} celciusgrader motsvarar {f} Farenheit ')

Hur många grader celcius är det? 4
4 celciusgrader motsvarar 39.2 Farenheit

In [ ]:
for i in range(-40, 41):
  f= 32+i*9/5
  print(f'{i} C är {round(f)} Farenheit ')

-40 C är -40 Farenheit
-39 C är -38 Farenheit
-38 C är -36 Farenheit
-37 C är -35 Farenheit
-36 C är -33 Farenheit
-35 C är -31 Farenheit
-34 C är -29 Farenheit
-33 C är -27 Farenheit
-32 C är -26 Farenheit
-31 C är -24 Farenheit
-30 C är -22 Farenheit
-29 C är -20 Farenheit
-28 C är -18 Farenheit
-27 C är -17 Farenheit
-26 C är -15 Farenheit
-25 C är -13 Farenheit
-24 C är -11 Farenheit
-23 C är -9 Farenheit
-22 C är -8 Farenheit
-21 C är -6 Farenheit
-20 C är -4 Farenheit
-19 C är -2 Farenheit
-18 C är 0 Farenheit
-17 C är 1 Farenheit
-16 C är 3 Farenheit
-15 C är 5 Farenheit
-14 C är 7 Farenheit
-13 C är 9 Farenheit
-12 C är 10 Farenheit
-11 C är 12 Farenheit
-10 C är 14 Farenheit
-9 C är 16 Farenheit
-8 C är 18 Farenheit
-7 C är 19 Farenheit
-6 C är 21 Farenheit
-5 C är 23 Farenheit
-4 C är 25 Farenheit
-3 C är 27 Farenheit
-2 C är 28 Farenheit
-1 C är 30 Farenheit
0 C är 32 Farenheit
1 C är 34 Farenheit
2 C är 36 Farenheit
3 C är 37 Farenheit
4 C är 39 Farenheit
5 C är 41 Farenheit
6 C är 43 Farenheit
7 C är 45 Farenheit
8 C är 46 Farenheit
9 C är 48 Farenheit
10 C är 50 Farenheit
11 C är 52 Farenheit
12 C är 54 Farenheit
13 C är 55 Farenheit
14 C är 57 Farenheit
15 C är 59 Farenheit
16 C är 61 Farenheit
17 C är 63 Farenheit
18 C är 64 Farenheit
19 C är 66 Farenheit
20 C är 68 Farenheit
21 C är 70 Farenheit
22 C är 72 Farenheit
23 C är 73 Farenheit
24 C är 75 Farenheit
25 C är 77 Farenheit
26 C är 79 Farenheit
27 C är 81 Farenheit
28 C är 82 Farenheit
29 C är 84 Farenheit
30 C är 86 Farenheit
31 C är 88 Farenheit
32 C är 90 Farenheit
33 C är 91 Farenheit
34 C är 93 Farenheit
35 C är 95 Farenheit
36 C är 97 Farenheit
37 C är 99 Farenheit
38 C är 100 Farenheit
39 C är 102 Farenheit
40 C är 104 Farenheit

In [ ]:
i=-40
while i<41:
  f= 32+i*9/5
  print(f'{i} C är {round(f)} Farenheit ')
  i+=1

In [ ]:
sum=1
for i in range(1,2017):
  sum= sum*1.02
print(sum)

In [ ]:
x = input('Skriv en mening ')
for i in x: 
  print(i, end=' ')

In [ ]:
password = 'kalle'
while x != password: 
  x = input('Lösenord ')
  if x == password:
    print('ok')
    break
  elif x=='':
    print('Avbruten inloggning')
    break

Lösenord kalle
ok

In [ ]:
for i in range(5):
  for j in range(1,10):
    print(j, end=' ')
  print()

In [ ]:
for i in range(1,10):
  print(i, end=' ')
  for j in range(1,9):
    print(i, end=' ')
  print()

In [ ]:
for i in range(6):
  for j in range(i):
    print('*', end='')
  print()

In [ ]:
for i in range(9):
  for j in range(10):
    print(i, end=' ')
  print()

In [ ]:
for i in range(10):
  for j in range(0,10-i):
    print(j, end=' ')
  print()

In [ ]:
r = 10
for i in range(10):
  for j in range(i):
    print('  ', end='')
  for j in range(0,10-i):
    print(j, end=' ')

  print()

In [ ]:
for i in range(1,10):
  for j in range(1, 10):
    print(i*j, end=' ')
  print()

In [ ]:
for i in range(1,10):
  for j in range(1, 10):
    res = i*j
    print(f"{res:2}", end='  ')
  print()

In [ ]:
for i in range(1,10):
  for j in range(1, 10):
    print(f"{i*j:2}", end='  ')
  print()

In [ ]:
f= int(input('Ange första talet '))
a= int(input('Ange andra talet '))
faktor=0
if f<a: 
  faktor = 1
else:
  faktor=-1
for i in range(f, a, faktor):
  print(f"{i:1}", end=' ')

In [ ]:
print("**********\n" *5)

In [ ]:
for i in range(5):
  print('**********')

# 6 kap Mer om teckensträngar i Python

In [ ]:
str = 'aaaabC A defg '
'a' in str

In [ ]:
str.center(33)

In [ ]:
str.count('a')

In [ ]:
str.rjust(31)

In [ ]:
str.ljust(33)

In [ ]:
str.upper()

In [ ]:
str.lower()

In [ ]:
str.capitalize()

In [ ]:
str.title()

In [ ]:
str.strip()

In [ ]:
str.strip(' ')

In [ ]:
str.replace('A', '*')

In [ ]:
x = input('Skriv en mening ')
print(f'Meningen består av {len(x)} tecken')

In [ ]:
f = input('Förnamn ').title()
e = input('Förnamn ').title()
fullst = f + ' ' + e
print(f'Fullständigt namn: {fullst} ' )

In [ ]:
x = input('Skriv en mening ')
y = (x)[::-1]
print(y)

In [ ]:
x = 'Alla känner apan men apan känner ingen '
y = x.replace('apan', 'gorillan')
print(y)

In [ ]:
z = x.count('a')
print(f'Alla känner apan men apan känner ingen - innehåller {z} a ')

In [ ]:
headers = ['Tal', 'kvad', 'kub']
format_string = "{:<5}{:<8}{:<10}"
print(format_string.format(*headers))
for i in range(1, 5):
  kvad = i**2
  kub = pow(i, 3)
  print(f'{i}     {kvad:2}     {kub:2} ')

In [ ]:
cols= 30
rows = 30
mid = cols/2

while i < rows/2:
  print('*', end='')
  i = i+1
  print()

In [ ]:
rows = int(input("Enter The Number Of Rows: "))
columns = 2*rows -1
i = 0
while i < rows:
    j = 0
    while j < columns :
        if( (columns//2)-i <= j <= (columns//2)  +i):
            print("*",end = "")
        else:
            print(" ",end = "")
        
        j+=1
    print(" ")
    i+=1
    
i = 0
while i < rows:
    j = 0
    while j < columns :
        if( i <= j <= columns-1 -i):
            print("*",end = "")
        else:
            print(" ",end = "")
        
        j+=1
    print(" ")
    i+=1

In [ ]:
rows = int(input("Enter The Number Of Rows: "))
columns = 2*rows -1
i = 0
while i < rows:
    j = 0
    while j < columns :
        if( (columns//2)-i <= j <= (columns//2)  +i):
            print("*",end = "")
        else:
            print(" ",end = "")
        
        j+=1
    print(" ")
    i+=1

In [ ]:
v = 'aeiouyåäö '
k = ' b, c, d, f, g, h, j, k, l, m, n, p, q, r, s, t, v, z, x'
k = k.replace(', ', '').strip()
str = input('Skriv en mening ').lower()
for i in str: 
  if i in v: 
    print(i, end='')
  elif i in k: 
    print(i+'o'+i, end='')

In [ ]:
v = 'aeiouyåäö '
k = ' b, c, d, f, g, h, j, k, l, m, n, p, q, r, s, t, v, z, x'
k = k.replace(', ', '').strip()
str = input('Skriv en mening på rövarspråket ').lower()
output=[]
for i in str: 
  if i in k and str[i+1]=='o':
    print(i)
  elif i in v:
    print(i) 

print(output)
#

In [ ]:
v = 'aeiouyåäö '
k = ' b, c, d, f, g, h, j, k, l, m, n, p, q, r, s, t, v, z, x'
k = k.replace(', ', '').strip()
str = 'jojagog totalolaror rorövovarorsospoproråkoketot'
output=[]
nstr = ''
for i in range(len(str)): 
  if str[i] in k:
    for j in range(1):
      if str[j+1]=='o':
        nstr = ''.join(str[i])
 # elif str[i] in v:
 #   nstr = ''.join(str[i]) 
    print(nstr)

#  elif str[i] in v:
    print(str[i])

In [ ]:
#x = int(imput('Skriv ditt personnummer '))
nstr=''
x = '820713-1239'
y =x.strip().replace('-', '')
z=int(y)
f=-1
mult = 2
#if len(y)==10:

In [ ]:
# x = '820713-1239'
# 881212-1221
x = input('Skriv ditt personnummer ')
nstr=''
sum=0
c=2
print(y)
y =x.strip().replace('-', '')
for i in y: 
  if int(i)*c>9:
    nstr += str(int(i)*c-9)
  elif int(i)*c<=9:
    nstr += str(int(i)*c)
  if c==2:
     c=1
  elif c==1:
     c=2

for i in nstr:
  sum= sum + int(i)
if sum%10==0:
  print('ok')
else:
  print('ej validerat')

0
8207131239
[7, -1, 4, 2, 0, 0, 4, 2]

In [ ]:
v = 'aeiouyåäö '
k = ' b, c, d, f, g, h, j, k, l, m, n, p, q, r, s, t, v, z, x'
k = k.replace(', ', '').strip()
string = 'jojagog totalolaror rorövovarorsospoproråkoketot'
output =''
teststring =''

for i in range(1, len(string)):
  if string[i] in k and string[i-1]=='o' and string[i-2]== string[i]:
    output += string[i]
  if string[i] in v and not string[i-1]==string[i+1]: 
    output += string[i]
  if string[i]==' ':
    output += string[i]

print(output)
print(teststring)

jag  talar rövarspråket

In [ ]:
dåligt = 49
ont = 48
illa=47
bra = 51
fint =52
utmärkt=53
finemang=54
pos = True 
str = input('Hej hur mår du? ').lower()
mylist = s
print(mylist)

Hej hur mår du? jag mår bra
['j', 'a', 'g', ' ', 'm', 'å', 'r', ' ', 'b', 'r', 'a']

In [ ]:
ja

In [ ]:
print("Python2 Python3 Python Numpy".split())
#print "Python2, Python3, Python, Numpy".split()

['Python2', 'Python3', 'Python', 'Numpy']

**fetstil**# Binära tal

#7 Kap Binära tal

# 8 kap Listor och tipplar

In [ ]:
lista = []
ant= int(input('Hur många tal vill du ange? '))
for i in range(1, ant+1):
  tal = int(input(f'Tal {i} '))
  lista.append(tal)
print(lista)

Hur många tal vill du ange? 4
Tal 1 3
Tal 2 2
Tal 3 5
Tal 4 6
[3, 2, 5, 6]

In [ ]:
lista = []
ant= int(input('Hur många tal vill du ange? '))
for i in range(1, ant+1):
  tal = int(input(f'Tal {i} '))
  lista.append(tal)

lista.reverse()
print(lista)

Hur många tal vill du ange? 3
Tal 1 1
Tal 2 4
Tal 3 7
[7, 4, 1]

In [ ]:
import numpy as np
lista = []
ant= int(input('Hur många tal vill du ange? '))
for i in range(1, ant+1):
  tal = int(input(f'Tal {i} '))
  lista.append(tal)


s = sum(lista)
m = np.mean(lista)
print(f'Summan av talen är {s} och medelvärdet är {m} ')

Hur många tal vill du ange? 5
Tal 1 4
Tal 2 3
Tal 3 5
Tal 4 66
Tal 5 5
Summan av talen är 83 och medelvärdet är 16.6

In [ ]:
m = ['januari', 'februari', 'mars', 'april', 'maj', 'juni', 'juli', 'augusti', 'september', 'oktober', 'november', 'december']

while True: 
  num = int(input('Ange månadens ordningstal '))
  if num >=1 and num <=12:
    print(m[num-1])
  elif num >12:
    print('Det finns bara tolv månader, försök igen')
  elif num ==' ':
    break

Ange månadens ordningstal 4
april
Ange månadens ordningstal 3
mars
Ange månadens ordningstal

ValueError: ignored

In [ ]:
c=0
m[c]

'januari'

In [ ]:
from random import *
t = randint(10,16)
l = [randint(1,101) for i in range(t)]
minstaTal = min(l)
for i in range(0, len(l)): 
  if l[i]== minstaTal:
    pos = i+1
print(f'Lägsta talet är {minstaTal} och dess position är {pos} ')
print(l)
firstNum = l[0]

swappedLIst = l

swappedLIst[0]=minstaTal
swappedLIst[pos-1]=firstNum
print(swappedLIst)
print(f'{minstaTal} har bytt plats med {firstNum} ')

Lägsta talet är 15 och dess position är 4
[50, 78, 49, 15, 34, 32, 81, 32, 20, 68, 56, 80, 66, 43, 84]
[15, 78, 49, 50, 34, 32, 81, 32, 20, 68, 56, 80, 66, 43, 84]
15 har bytt plats med 50

In [ ]:
from random import *
t = randint(10,16)
l = [randint(1,101) for i in range(t)]
minstaTal = min(l)
for i in range(0, len(l)): 
  if l[i]== minstaTal:
    pos = i+1
print(f'Lägsta talet är {minstaTal} och dess position är {pos} ')

firstNumber = l[0]

print(l)
for i in range(len(l)):
  taletBakom= l[i-1]
  if l[i] == minstaTal:
    l[pos-1]= firstNumber
    l[0]= minstaTal
    

print(l)

Lägsta talet är 6 och dess position är 7
[23, 11, 36, 25, 22, 17, 6, 20, 16, 19, 57, 80, 98]
[6, 11, 36, 25, 22, 17, 23, 20, 16, 19, 57, 80, 98]

In [ ]:
from random import *
t = randint(10,16)
l = [randint(1,101) for i in range(t)]
minstaTal = min(l)
for i in range(0, len(l)): 
  if l[i]== minstaTal:
    pos = i+1
print(f'Lägsta talet är {minstaTal} och dess position är {pos} ')

firstNumber = l[0]

print(l)
for i in range(len(l)):
  taletBakom= l[i-1]
  if l[i] == minstaTal:
    l[pos-1]= firstNumber
    l[0]= minstaTal
    

print(l)
for i in range(1, len(l)-1):
  mem = l[i+1]
  if l[i]>l[i+1]:
    l[i+1]=l[i]
    l[i]=mem

print(l)

Lägsta talet är 5 och dess position är 2
[71, 5, 84, 59, 93, 49, 15, 88, 98, 29]
[5, 71, 84, 59, 93, 49, 15, 88, 98, 29]
[5, 71, 59, 84, 49, 15, 88, 93, 29, 98]

In [ ]:
from random import *
t = randint(10,16)
l = [randint(1,101) for i in range(t)]
minstaTal = min(l)
for i in range(0, len(l)): 
  if l[i]== minstaTal:
    pos = i+1
print(f'Lägsta talet är {minstaTal} och dess position är {pos} ')

firstNumber = l[0]

print(l)
for i in range(len(l)):
  taletBakom= l[i-1]
  if l[i] == minstaTal:
    l[pos-1]= firstNumber
    l[0]= minstaTal
    
print(l)


while l[len(l)-1] != max(l):
  for i in range(1, len(l)-1):
    mem = l[i+1]
    if l[i]>l[i+1]:
      l[i+1]=l[i]
      l[i]=mem

print(l)

Lägsta talet är 25 och dess position är 8
[76, 46, 79, 39, 82, 95, 34, 25, 27, 74, 65, 39, 43, 94, 91, 35]
[25, 46, 79, 39, 82, 95, 34, 76, 27, 74, 65, 39, 43, 94, 91, 35]
[25, 46, 39, 79, 82, 34, 76, 27, 74, 65, 39, 43, 94, 91, 35, 95]

In [ ]:
firstNumber

11

In [ ]:
from random import *
t = randint(10,16)
l = [randint(1,101) for i in range(t)]
minstaTal = min(l)
for i in range(0, len(l)): 
  if l[i]== minstaTal:
    pos = i+1
print(f'Lägsta talet är {minstaTal} och dess position är {pos} ')

firstNumber = l[0]

print(l)

while l[len(l)-1] != max(l):

  for i in range(1, len(l)):
    minne = l[i]
    if l[i]>l[i-1]:
      l[i-1]==i
      
print(l)

Lägsta talet är 3 och dess position är 14
[74, 45, 88, 63, 11, 47, 25, 43, 13, 44, 64, 37, 62, 3, 52]

KeyboardInterrupt: ignored

In [ ]:
l

[74, 45, 88, 63, 11, 47, 25, 43, 13, 44, 64, 37, 62, 3, 52]

In [ ]:
from random import *
t = randint(10,16)
l = [randint(1,101) for i in range(t)]
minstaTal = min(l)
for i in range(0, len(l)): 
  if l[i]== minstaTal:
    pos = i+1
print(f'Lägsta talet är {minstaTal} och dess position är {pos} ')
print(l)

for i in range(1, len(l)):
    minne = l[i-1]
    if l[i-1]>l[i]:
      l[i-1]= l[i]
      l[i]= minne
print(l)

Lägsta talet är 2 och dess position är 3
[23, 37, 2, 43, 88, 99, 63, 78, 75, 25, 16, 57, 43, 26, 7]
[23, 2, 37, 43, 88, 63, 78, 75, 25, 16, 57, 43, 26, 7, 99]

In [ ]:
from random import *
t = randint(10,16)
l = [randint(1,101) for i in range(t)]
minstaTal = min(l)
for i in range(0, len(l)): 
  if l[i]== minstaTal:
    pos = i+1
print(f'Lägsta talet är {minstaTal} och dess position är {pos} ')
print(l)

l[0]==minstaTal

# while l[len(l)-1] != max(l):


for i in range(1, len(l)-1):
      minne = l[i-1]
      if l[i]>l[i+1]:
        l[i]= l[-i]
        l[i]= minne
      
print(l)

Lägsta talet är 2 och dess position är 16
[11, 75, 8, 4, 63, 33, 34, 100, 44, 77, 20, 86, 93, 64, 97, 2]
[11, 11, 11, 4, 4, 33, 34, 34, 44, 44, 20, 86, 86, 64, 64, 2]

In [ ]:
l

[13, 68, 16, 40, 58, 24, 44, 68, 25, 101, 69, 37, 20, 69, 42]

In [ ]:
max(l)

101

In [ ]:
l[len(l)-1]

42

In [ ]:
from random import *
newlist=[]
t = randint(10,16)
l = [randint(1,101) for i in range(t)]
minstaTal = min(l)
for i in range(0, len(l)-1): 
  if l[i]== minstaTal:
    pos = i+1
print(f'Lägsta talet är {minstaTal} och dess position är {pos} ')
print(l)


  





print(l)
print(newlist)

Lägsta talet är 1 och dess position är 12
[4, 90, 62, 58, 38, 14, 22, 35, 69, 100, 82, 1, 98]
[4, 90, 62, 58, 38, 14, 22, 35, 69, 100, 82, 1, 98]
[]

In [ ]:
l

[1, 21, 58, 53, 10, 14, 91, 10, 4, 98, 83]

In [ ]:
minstaTal

14

# 8 kap Funktioner

In [ ]:
def kvadrat(x):
  return x**2

In [ ]:
for i in range(11):
  print(kvadrat(i), end=' ')

0 1 4 9 16 25 36 49 64 81 100

In [ ]:
def linje(l):
  print('-'*l)
linje(24)

------------------------

In [ ]:
def maximum(x, y):
  if x>y:
    print(f'{x} är större än {y} ')
  if x==y:
    print(f'{x} är lika stort som {y} ')
  if y>x:
    print(f'{x} är mindre än {y} ')

In [ ]:
print(maximum(1, 12))
print(maximum(12, 12))
print(maximum(12, 1))

1 är mindre än 12
None
12 är lika stort som 12
None
12 är större än 1
None

In [ ]:
def maximum3(x, y, z):
  if x > y and x >z:
    return x
  elif y>x and y>z:
    return y
  else: 
    return z

In [ ]:
maximum3(1, 2,33)

33

In [ ]:
maximum3(66, 2,33)

66

In [ ]:
maximum3(1, 219,33)

219

In [ ]:
maximum3(1, 1,393)

393

In [ ]:
def nettopris(pris):
  if pris >=500 and pris <1001:
    return pris * .98
  elif pris >1001: 
    return pris *.95
  else:
    return pris

In [ ]:
nettopris(499)

499

In [ ]:
nettopris(500)

490.0

In [ ]:
nettopris(1012)

961.4

In [ ]:
print(nettopris(43333))

41166.35

In [ ]:
def calc(tal1, tal2, operator):
  if operator == '+':
    return tal1 + tal2
  if operator == '-':
    return tal1 - tal2
  if operator == '*':
    return tal1 * tal2

In [ ]:
calc(2, 8, '+')

10

In [ ]:
resultat = calc(2, 44, '*')
print(resultat)

88

In [ ]:
import math

def cirkelarea(x):
  return math.sqrt(x/math.pi)

def main(): 
  tal = float(input('Ange cirklens area '))
  enhet = input('Ange areaenhet, kvadratmillimeter, kvadratcentimeter, kvadratdecimeter, kradratmeter ')
  s= ''
  if enhet == 'kvadratmillimeter':
    s= 'millimeter'
  elif enhet == 'kvadratcentimeter':
    s = 'centimeter'
  print(f'En cirkel med arean {tal} {enhet} har en radie på {cirkelarea(tal)} {s} ')

main()

Ange cirklens area 314
Ange areaenhet, kvadratmillimeter, kvadratcentimeter, kvadratdecimeter, kradratmeter kvadratcentimeter
En cirkel med arean 314.0 kvadratcentimeter har en radie på 9.997464891746821 centimeter

In [ ]:
cirkelarea(78.539816339745, 'kvadratcentimeter')

(5.000000000000005, 'centimeter')

In [132]:
lista = [1, 1]
for i in range(2,40):
        lista.append(lista[i-2]+lista[i-1])

print(lista)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155]

In [169]:
def fibosteps(i):
  tal1 = 0
  tal2 = 1
  tal3 = 0
  tmp = 0
  for x in range(i):
    tal3 = tal1+tal2
    fibolist.append(tal3)
    tmp = tal2
    tal2 = tal3
    tal1 = tmp

  return tal3

In [170]:
fibosteps(11)

144

In [143]:
def test(x):
  return x+x

In [144]:
test(8)

16

In [145]:
fibosteps(10)

IndexError: ignored

In [129]:

lista

[1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155]

kvoten av föregående tal

In [124]:
kvotlista=[]
for i in range(0, len(lista)):
  kvotlista.append(lista[i-1]/lista[i-2])

print(kvotlista)

[1.6180339887498947, 9.77190850894308e-09, 1.0, 2.0, 1.5, 1.6666666666666667, 1.6, 1.625, 1.6153846153846154, 1.619047619047619, 1.6176470588235294, 1.6181818181818182, 1.6179775280898876, 1.6180555555555556, 1.6180257510729614, 1.6180371352785146, 1.618032786885246, 1.618034447821682, 1.6180338134001253, 1.618034055727554, 1.6180339631667064, 1.6180339985218033, 1.618033985017358, 1.6180339901755971, 1.618033988205325, 1.618033988957902, 1.6180339886704431, 1.6180339887802426, 1.618033988738303, 1.6180339887543225, 1.6180339887482036, 1.6180339887505408, 1.6180339887496482, 1.618033988749989, 1.618033988749859, 1.6180339887499087, 1.6180339887498896, 1.618033988749897, 1.618033988749894, 1.6180339887498951]

In [49]:
for i in range(1, len(lista)):
  kvot = lista[i] / lista[i-1]
  print(i,':',kvot)
  print()

1 : 1.0

2 : 2.0

3 : 1.5

4 : 1.6666666666666667

5 : 1.6

6 : 1.625

7 : 1.6153846153846154

8 : 1.619047619047619

9 : 1.6176470588235294

10 : 1.6181818181818182

11 : 1.6179775280898876

12 : 1.6180555555555556

13 : 1.6180257510729614

14 : 1.6180371352785146

15 : 1.618032786885246

16 : 1.618034447821682

17 : 1.6180338134001253

18 : 1.618034055727554

19 : 1.6180339631667064

20 : 1.6180339985218033

21 : 1.618033985017358

22 : 1.6180339901755971

23 : 1.618033988205325

24 : 1.618033988957902

25 : 1.6180339886704431

26 : 1.6180339887802426

27 : 1.618033988738303

28 : 1.6180339887543225

29 : 1.6180339887482036

30 : 1.6180339887505408

31 : 1.6180339887496482

32 : 1.618033988749989

33 : 1.618033988749859

34 : 1.6180339887499087

35 : 1.6180339887498896

36 : 1.618033988749897

37 : 1.618033988749894

38 : 1.6180339887498951

39 : 1.6180339887498947

In [50]:
kvotlista[len(kvotlista)-1]

1.6180339887498951

In [56]:
import math
from math import sqrt
fi = (1+ sqrt(5))/2
print(fi)

1.618033988749895

# 9 kap Slumptal i programmering

In [191]:
import random

Slumpa fram ren lottorad

In [194]:
import random 
lotto= []
for i in range(6):
  lotto.append(randint(1, 36))
print(lotto)

[23, 7, 24, 36, 16, 35]

Slumpa en lottorad med unika tal

In [199]:
# använder funktionen sample() isft randint()
lotto= []
for i in range(6):
  lotto= (sample(range(1, 36), 7))
print(lotto)

[2, 28, 6, 5, 11, 25, 7]

In [ ]:
randrange